<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpudConf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Tator.SpudConf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpudConf.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
        </SpudConf.Properties.Settings>
        <Tator.SpudConf.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="TeamNumber" serializeAs="String">
                <value>2122</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>10.21.22.2</value>
            </setting>
            <setting name="LocalDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteDirectory" serializeAs="String">
                <value>/Config</value>
            </setting>
        </Tator.SpudConf.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
